@import "reset.css";
@import "variables.css";

/* component */
@import "./screen/component/main.css";

/* screen */
@import "./screen/commonquestion.css";
@import "./screen/questionlist.css";
@import "./screen/questionlist2.css";
@import "./screen/registerquestion.css";
@import "./screen/gettquestion.css";
@import "./screen/searchfriends.css";
@import "./screen/followinglist.css";
@import "./screen/followerlist.css";
@import "./screen/accessError.css";

/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--backColor);
  height: 200vh;
}
