.fa-exclamation-triangle {
  color: var(--mainColor);
  font-size: 80px;
}
.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 180px;
}
.detail h1 {
  margin: 30px;
  font-size: 35px;
  font-weight: 600;
}
.detail p {
  font-size: 20px;
  margin: 15px 0;
}
.detail button {
  background-color: var(--sideColor);
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.detail button:hover {
  color: var(--sideColor);
  background-color: #1e262c36;
  font-weight: 700;
}
