.form-header {
  color: rgba(0, 0, 0, 0.8);
  font-size: 27px;
  font-weight: 600;
  padding: 20px 0 30px 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}
.followlist {
  display: flex;
  align-items: center;
}
.followlist-id {
  display: flex;
  flex-direction: column;
  width: 190px;
}
.followlist-id a {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 7px;
}
.followlist-img img {
  border-radius: 50%;
  margin-right: 20px;
}
.followlistBtn {
  display: flex;
}
.chatBtn {
  border: none;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--mainColor);
  color: white;
  top: 100px;
  left: 230px;
  z-index: 12;
  margin: 0 10px;
  cursor: pointer;
}
.unfollowBtn {
  border: none;
  color: black;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.chatBtn:hover {
  background-color: rgba(245, 109, 46, 0.9);
}
.unfollowBtn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.page-item.active .page-link {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
.page-link {
  color: black;
}
