.display {
  display: flex;
  flex-direction: row;
  height: 200vh;
}
.side-bar {
  z-index: 99;
  width: 18%;
  height: 100%;
  position: fixed;
  background-color: var(--sideColor);
  color: var(--fontColor);
}
.side-bar__row:first-child img {
  display: block;
  margin: 50px auto;
  width: 170px;
}
.side-bar__row:nth-child(2) input[type="text"] {
  padding: 15px;
  font-size: large;
  width: 90%;
  margin-left: 5%;
  border-radius: 50px;
  border: none;
  transition: border 0.4s ease-in-out;
}
.side-bar__row:nth-child(2) input[type="text"]::placeholder {
  color: var(--fontColor);
}
.side-bar__row:nth-child(2) input[type="text"]:focus {
  border: 1.5px solid var(--mainColor);
}
.side-bar__row:nth-child(2) input:not([type="text"]) {
  display: none;
}
.side-bar__row:nth-child(3) {
  margin: 20px 0;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--opacity);
}
.side-bar__row:nth-child(3) span {
  padding: 15px 0;
  margin: 5px 0;
  width: 100%;
  text-align: center;
}
.side-bar__row:nth-child(3) span:hover {
  background-color: var(--opacity);
  border-left: 5px solid var(--mainColor);
}
.side-bar__row:nth-child(4) {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.side-bar__row:nth-child(4) span {
  transition: color 0.6s ease-in-out;
}
.side-bar__row:nth-child(4) span:hover {
  color: white;
}

.side-bar__row:last-child {
  margin-top: 250px;
}
.side-bar__row:last-child span {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  color: white;
  border-radius: 5px;
  padding: 15px 0;
  margin: 10px auto;
}
.side-bar__row:last-child span:first-child {
  background-color: var(--mainColor);

  transition: background-color 0.4s ease-in-out;
}
.side-bar__row:last-child span:first-child:hover {
  background-color: rgba(245, 108, 45, 0.8);
}
.side-bar__row:last-child span:last-child {
  background-color: inherit;
  border: 1px solid white;
  transition: border-color 0.4s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.side-bar__row:last-child span:last-child:hover {
  border-color: var(--fontColor);
  color: var(--fontColor);
}
/* 여기 변경 */
.side-bar a:hover {
  color: white;
}
.main {
  width: 100%;
  padding-left: 18%;
  height: 100%;
  position: relative;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--footerColor);
  bottom: 0;
  height: 100px;
  color: rgb(161, 161, 161);
  position: absolute;
}
.footer-info {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  padding: 20px 0;
  font-weight: 600;
  font-size: 14px;
}
.footer-copyright {
  padding-top: 30px;
  display: flex;
  font-weight: 300;
  font-size: 13px;
}
